<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="door.css">
  <title>door</title>
</head>
<body>
<div class="reactor-doorframe" tabindex="0">
  <div class="reactor-door">
    <div class="door-warning-stripes"></div>
    <div class="door-metal-frame"></div>
  </div>
</div>

</body>
</html>